@import url('https://fonts.googleapis.com/css?family=Lato|Slabo+27px');

html {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Slabo 27px', serif;
}

.jeff-small {
  width: 100px;
  height: auto;
  margin: 10px;
}

.jeff-small:hover {
  -webkit-filter: invert(100%);
}

.content {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  width: 90%;
  border-left: 3px solid #f50;
  border-right: 3px solid #0f5;
  transition: width 0.5s;
}

.content div {
  width: 90%;
  margin: auto;
}

.header {
  font-family: 'Slabo 27px', serif;
  font-size: 32px;
  width: 100%;
  margin: auto;
  border-top: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.intro {
  color: #999;
}

.intro .quote {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: #000;
}

.intro em {
  font-size: 12px;
}

.header div {
  margin: 30px;
  display: inline;
}

.header img {
  display: none;
}

.footer {
  padding-top: 10px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  background: #eee;
  padding: 12px 0px;
  color: #777;
  background: #ddd;
  font-family: 'Slabo 27px', serif;
}

.footer img {
  margin: 0px 10px;
  width: 16px;
  height: auto;
}

.download {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

.download a {
  width: 75%;
  padding: 15px;
  background: #f50;
  transition: background 0.4s, width 0.4s;
  color: #fff;
  font-family: 'Slabo 27px', serif;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 36px;
}

.download a::after {
  content: "Jeff me up";
}

.download a:hover:after {
  content: "Life finds all the ways.";
}

.download a:hover {
  background: #0f5;
  width: 90%;
}

.links {
  padding-bottom: 15px;
}

.links img {
  width: 32px;
}

.links a {
  padding: 0px 10px;
}

.merchandise {
  width: 100%;
  margin: auto;
}

.merchandise h2 {
  font-size: 32px;
}

.merchandise .product {
  width: 90%;
  margin: 10px;
  display: inline-block;
  color: black;
  opacity: 1;
  transition: opacity 0.4s;
  border-bottom: 3px solid #f50;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.product img {
  width: 100%;
}

.product .product-price {
  color: #777;
}

.product .product-name {
    font-size: 24px;
}

@media screen and (min-width: 710px) {
  .header img {
    display: inline;
    width: 35px;
    height: auto;
  }

  .jeff-small {
    width: 50px;
  }

  .content {
    width: 500px;
  }

  .content:hover {
    width: 700px;
  }

  .content div {
    width: 500px;
    height: 360px;
  }

  .header {
    width: 500px;
  }

  .download {
    width: 500px;
  }

  .download a {
    width: 170px;
    font-size: 18px;
  }

  .download a:hover {
    width: 250px;
  }

  .merchandise {
    width: 500px;
    margin: auto;
  }

  .merchandise h2 {
    font-size: 24px;
  }

  .merchandise .product {
    width: 220px;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .product:hover {
    opacity: 0.7;
  }

  .product .product-name {
      font-size: 16px;
  }
}
